body {
    background-color: white;
}

@media (min-width: 1024px) {
    .centerLogin {
        position: fixed;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    body {
        background-color: rgb(218, 214, 214, 0.4);
    }
}
